.displayNone {
    display: none;
}

.displayFlex {
    display: flex;
}

/* Card Portfolio start */

.card {
    position: relative;
    width: 350px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    padding: 10px 30px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 10px var(--fivebase-color);
    opacity: 0.9;

    @media all and (max-width: 480px) {
        width: 200px;
        background-position: 15%;
    }

}
  
.heading {
    font-size: 24px;
    font-weight: 700;
    color: var(--twobase-color);
}
  
.para {
    text-align: center;
    color: var(--twobase-color);
    opacity: 0.7;
    line-height: 1.4;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.3s ease;
    pointer-events: none;
}
  
.card:hover .overlay {
    opacity: 1;
    pointer-events: auto;
}
  
.card .card-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 600;
    padding: 2% 2%;
    font-size: 16px;
    transform: translate(-50%, -50%);
    background-color: var(--white-color);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
    border: none;
    opacity: 0;
    scale: 0;
    transform-origin: 0 0;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
  
.card:hover .card-btn {
    opacity: 1;
    scale: 1;
}
  
.card .card-btn:hover {
    box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.3);
}
  
.card .card-btn:active {
    scale: 0.95;
}
  
.overlay::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}
  
.card:hover .overlay::after {
    transform: translate(-50%, -50%) scale(2);
}

/* Card Portfolio end */

/* modale projet start */

  
  .project {
    cursor: pointer;
    margin: 10px;
  }
  
  .project img {
    width: 200px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Styles pour le modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
    height: 100%;
  }
  
  .modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 60%;
    height: 600px;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 5%;

    @media all and (max-width: 480px) {
        height: 600px;
    }
  }
  
  .close-modal-btn {
    margin-top: 10px;
  }

  .allSecondaireImage {
    width: 96%;
    margin: 2%;
    box-shadow: 0px 9px 15px rgb(0 0 0 / 0.2);
  }

  .close-modal-btn {
    Position: absolute;
    color: #121828;
    font-size: 28px;
    font-weight: 700;
    top: -12px;
    right: -3px;
    background: none;
    border: none;
    cursor: pointer;
  }
/* modale projet end */


.div-img-text {
    width: 100%;
    height: 860px;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 4%;
}

.div-img-text img{
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.titre-desc-modale {
    color: var(--white-color);
    font-weight: 700;
    font-size: 30Px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    border-radius: 15px;
    background-color: #023045;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height: 308px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media all and (max-width: 1400px) {
        height: unset;
    }

    @media all and (max-width: 480px) {
        margin-bottom: unset;
    }
}

.titre-desc-modale p {
    @media all and (max-width: 480px) {
        margin: 3% 0% 3% 0%;
    }
}

.titre-secondaire-modal{
    font-size:16px;

    @media all and (max-width: 480px) {
        font-size: 13px;
    }
}

.divTitle{
    width: 100%;
}

.img-secondaire{
    width: 100%;
}

.all-outils {
    display: flex;
    justify-content: center;
    align-items: center;

    @media all and (max-width: 730px) {
        flex-direction: column;
    }
}

.all-outils p {
    @media all and (max-width: 730px) {
        margin: 0;
    }
}