.textDescOpacity{
    opacity: 0.9;
}

.textDesc {
    width: 50%;
}

.sectionTitle {
    height: 950px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./web_design.jpg);
    background-size: cover;
    width: 100%;

    @media all and (max-width: 960px) {
      height: unset;
  }
}

.title1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* little corner background start */

.corner-up-right {
    height: 12px;
    width: 1%;
    border-top: 1px solid var(--base-color);
    border-right: 1px solid var(--base-color);
}

.corner-up-left {
    height: 12px;
    width: 1%;
    border-top: 1px solid var(--base-color);
    border-left: 1px solid var(--base-color);
}

.corner-bottom-right {
    height: 12px;
    width: 1%;
    border-bottom: 1px solid var(--base-color);
    border-right: 1px solid var(--base-color);
}

.corner-bottom-left {
    height: 12px;
    width: 1%;
    border-bottom: 1px solid var(--base-color);
    border-left: 1px solid var(--base-color);
}

.corner-top {
    width: 76%;
    display: flex;
    justify-content: space-between;
}

.corner-bottom {
    width: 76%;
    display: flex;
    justify-content: space-between;
    
    @media all and (max-width: 960px) {
      margin-bottom: 10%;
  }
}

/* little corner background end */

/* card desc start */

.small-desc {
    font-size: 28px;
    font-weight: 700;
    color: white;
    margin: 0;

    @media all and (max-width: 960px) {
      font-size: 20px;
  }

  @media all and (max-width: 960px) {
    font-size: 17px;
}
}
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: var(--cardbaseplus-color);
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card-desc {
    display: block;
    position: relative;
    width: 69%;
    border-radius: 10px;
    padding: 1.2em 1.2em;
    margin: 6% 1% 1% 1%;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: #121828;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 8px 14px 0 #121828;

    @media all and (max-width: 1400px) {
      height: auto;
    }

    @media all and (max-width: 960px) {
      margin-bottom: 10%;
  }
  }
  
  .card-desc:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -70px;
    right: -70px;
    background: var(--cardbaseplus-color);
    height: 100px;
    width: 100px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
  }
  
  .card-desc:hover:before {
    transform: scale(28);
  }
  
  .card-desc:hover .small-desc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card-desc:hover .card-desc-title {
    transition: all 0.5s ease-out;
    color: #ffffff;
  }
  

/* card desc end */
