
.LogoCv {
    width: 87px;
    padding-left: 1%;
}

header {
    width: 91%;
    height: 76px;

    @media all and (max-width: 1400px) {
        width: 100%;
    }
}

.head-infos {
    display: flex;
    justify-content: space-between;
    align-items: self-end;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 73px;
    background-color: var(--black-color);
    padding-bottom: 3px;

    @media all and (max-width: 1400px) {
        position: unset;
    }

    @media all and (max-width: 960px) {
        align-items: center;
        gap: 10%;
    }
}

.head-category {
    display: flex;
    width: 34%;
    justify-content: space-between;
    padding-right: 1%;

    @media all and (max-width: 1400px) {
        justify-content: flex-end;
    }

    @media all and (max-width: 960px) {
        width: 20%;
        gap: 10%;
    }
}

/* bouton nav start*/

.light-button {
    @media all and (max-width: 960px) {
        width: 100px;
    }


}

.light-button button.bt {
    position: relative;
    height: 35px;
    display: flex;
    align-items: flex-end;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;

    @media all and (max-width: 960px) {
        width: 25%;
    }
}
  
.light-button button.bt .button-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    background-color: #023045;
    border-radius: 5px;
    color: var(--white-color);
    opacity: 0.9;
    font-weight: 700;
    transition: 300ms;
    outline: #023045 2px solid;
    outline-offset: 20;
    font-size: 12px;

    @media all and (max-width: 960px) {
        width: unset;
    }

    @media all and (max-width: 480px) {
        font-size: 8px;
        height: unset;
    }
}
  
.light-button button.bt .button-holder svg {
    height: 50px;
    fill: #0f0f0f;
    transition: 300ms;

    @media all and (max-width: 960px) {
        position: unset;
        width: 0px;
        height: 0px;
        border-radius: 0px;
        z-index: unset;
    }
}
  
.light-button button.bt .light-holder {
    position: absolute;
    height: 70px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media all and (max-width: 960px) {
        position: unset;
        width: 0px;
        height: 0px;
    }
}
  
.light-button button.bt .light-holder .dot {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: var(--white-color);
    border-radius: 10px;
    z-index: 2;

    @media all and (max-width: 960px) {
        position: unset;
        width: 0px;
        height: 0px;
        border-radius: 0px;
        z-index: unset;
    }
}
  
.light-button button.bt .light-holder .light {
    position: absolute;
    top: 0;
    width: 130px;
    height: 40px;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
    background: transparent;

    @media all and (max-width: 960px) {
        position: unset;
        width: 0px;
        height: 0px;
        border-radius: 0px;
        z-index: unset;
    }
}
  
.light-button button.bt:hover .button-holder svg {
    fill: var(--fivebase-color);
}
  
.light-button button.bt:hover .button-holder {
    color: #7F664A;
    outline: #7F664A 2px solid;
    outline-offset: 2px;
    font-size: 12px;

    @media all and (max-width: 960px) {
        color: white;
        outline: unset;
        outline-offset: unset;
        font-size: unset;
    }

    @media all and (max-width: 480px) {
        font-size: 8px;
    }
}
  
.light-button button.bt:hover .light-holder .light {
    background: var(--white-color);
    background: linear-gradient(180deg, #7F664A 0%, #7F664A 50%,#a88966 80%,#cbaa83 93%,var(--white-color) 100%);
}

/* bouton nav end */