.Burger-div {
    width: 100px;
}

.bm-burger-button {
    width: 45px;
    height: 25px;
    position: absolute;
    top: 27px;
    left: 16px;
}

.bm-burger-bars {
    background-color: white;
    height: 1.5px !important;
    width: 80%;
}

.bm-overlay {
    left: 0px;
    top: 0px;
}

.bm-menu-wrap {
    left: 0px;
    background-color: var(--black-color);
    top: 0px;
}

.bm-item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bm-item {
    border: 1px solid grey;
    padding: 8% 100% 8% 100%;
    margin: 0;
    background-color: unset;
    color: white;
    font-size: 13px;
    font-weight: 700;
}

#btn-nav-contact-burger {
    border-bottom: 3px solid grey;
}

.test { 
    color: red;
}

.Menu-text{
    color: grey;
}

nav button {
    cursor: pointer;
}