:root {
    --black-color: #000B20;
    --white-color: #ffff;
    --base-color: #7F664A;
    --twobase-color: #7C9CA2;
    --threebase-color: #D3BDA1;
    --fourbase-color: #F7F7F1;
    --fivebase-color: #F3E2C9;
    --sixbase-color: #121828;
    --cardbase-color: #B0D2D6;
    --cardbaseplus-color: #70979b;
    --form-color: #7C9CA2;
    
}

body {
    background-color: var(--black-color);
    width: 1440px;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    color: var(--white-color);
    font-weight: 700;
    font-size: 100Px;
    font-family: "Raleway", sans-serif;
    backdrop-filter: blur(30px);
    text-align: center;
    border-radius: 15px;
    box-shadow: 11px 11px 31px black;
}


h2 {
    color: var(--sixbase-color);
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-size: 33px;
    text-align: justify;
}

h3 {
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    text-align: -webkit-center;
    color: white;
    margin-left: 49%;
    opacity: 0.8;
}

.sectionPortfolio {
    height: 1050px;
}

.portfolioDiv{
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.corner-bottom-portfolio{
    width: 92%;
    margin-top: 2%;
}

